<div id='presenter' class='jumbotron'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <%= image_tag('avatar.jpg', class: 'avatar') %>
        </div>
        <div class="col-md-9">
          <ul class='list-unstyled'>
             <li><h3>RENATO</h3></li>
             <li><h2>ROSA FRANCO</h2></li>
             <li><p>Ruby Engineer & Front-end Expert</p></li>
             <ul class='list-unstyled list-inline'>
                <li><%= link_to 'COMPARTILHAR', '', class: 'btn btn-primary btn-lg top' %></li>
                <li><%= link_to 'BAIXAR CV', '', class: 'btn btn-primary btn-lg top' %></li>
             </ul>
             <ul class='list-unstyled list-inline pull-right social-list'>
                <li><span class='social'><%= fa_icon 'facebook' %><span></li>
                <li><span class='social'><%= fa_icon 'twitter' %></span></li>
                <li><span class='social'><%= fa_icon 'linkedin' %></span></li>
             </ul>
          </ul>

          <hr>
          <div class="col-md-3">
            <ul class='list-unstyled'>
               <li><h4><strong><i class='glyphicon glyphicon-search'></i>
               Localização</strong></h4></li>
               <li><span>São Roque, SP</span></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class='list-unstyled'>
               <li><h4><strong><i class='glyphicon glyphicon-search'></i>
               Telefone</strong></h4></li>
               <li><span>55 11 97195-6599</span></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class='list-unstyled'>
               <li><h4><strong> <i class='glyphicon glyphicon-search'></i>
               Web</strong></h4></li>
               <li><span>renato-franco.com</span></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class='list-unstyled'>
               <li><h4><strong><i class='glyphicon glyphicon-search'></i>
               E-mail</strong></h4></li>
               <li><span>contato@renato-franco.com</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id='about'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
           <h3><strong>SOBRE</strong></h3>
           <p>Conheça um pouco mais sobre mim.</p>
        </div>
        <div class="col-md-9">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
           eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
           ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
           ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
           velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
           cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
           id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id='about'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
           <h3><strong>EXPERIENCIAS</strong></h3>
           <p>Um pouco sobre minhas experiencias.</p>
        </div>
        <div class="col-md-9">
           <div class="col-md-6">
             <ul class='list-unstyled'>
                <li><h4><strong>RUBY ON RAILS</strong></h4></li>
                <li><p>Cras ornare tristique elit lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                 aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.</p></li>
             </ul>
           </div><!-- col-md-6 -->
           <div class="col-md-6">
             <ul class='list-unstyled'>
                <li><h4><strong>FRONT END</strong></h4></li>
                <li><p>Cras ornare tristique elit lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                 aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.</p></li>
             </ul>
           </div><!-- col-md-6 -->
           <div class="col-md-6">
             <ul class='list-unstyled'>
                <li><h4><strong>NODEJS + EXPRESS</strong></h4></li>
                <li><p>Cras ornare tristique elit lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                 aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.</p></li>
             </ul>
           </div><!-- col-md-6 -->
           <div class="col-md-6">
             <ul class='list-unstyled'>
                <li><h4><strong>ANGULAR</strong></h4></li>
                <li><p>Cras ornare tristique elit lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                 aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.</p></li>
             </ul>
           </div><!-- col-md-6 -->
           <div class="col-md-6">
             <ul class='list-unstyled'>
                <li><h4><strong>SASS & LESS</strong></h4></li>
                <li><p>Cras ornare tristique elit lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                 aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.</p></li>
             </ul>
           </div><!-- col-md-6 -->
           <div class="col-md-6">
             <ul class='list-unstyled'>
                <li><h4><strong>DOCKER & VAGRANT</strong></h4></li>
                <li><p>Cras ornare tristique elit lorem ipsum dolor sit amet,
                consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
                 aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id.</p></li>
             </ul>
           </div><!-- col-md-6 -->
        </div><!-- col-md-9 -->
      </div>
    </div>
  </div>
</section>

<section id='about'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
           <h3><strong>HABILIDADES</strong></h3>
           <p>Conheça um pouco sobre minhas habilidades.</p>
        </div>
        <div class="col-md-9">

            <div class="col-md-6">
               <h4>80% PHOTOSHOP</h4>
               <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="60"
                   aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                   <span class="sr-only">60% Complete</span>
                </div>
              </div><!-- col-md-6 -->
            </div>
              <div class="col-md-6">
                 <h4>80% ILLUSTRATOR</h4>
                 <div class="progress">
                   <div class="progress-bar" role="progressbar" aria-valuenow="60"
                     aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                     <span class="sr-only">60% Complete</span>
                  </div>
                </div><!-- col-md-6 -->
              </div>
                <div class="col-md-6">
                   <h4>80% GIT</h4>
                   <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60"
                       aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                       <span class="sr-only">60% Complete</span>
                    </div>
                  </div><!-- col-md-6 -->
                </div>
                <div class="col-md-6">
                   <h4>80% AFTER EFFECTS</h4>
                   <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60"
                       aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                       <span class="sr-only">60% Complete</span>
                    </div>
                  </div><!-- col-md-6 -->
                </div>
                <div class="col-md-6">
                   <h4>80% SKETCH</h4>
                   <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60"
                       aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                       <span class="sr-only">60% Complete</span>
                    </div>
                  </div><!-- col-md-6 -->
                </div>
                <div class="col-md-6">
                   <h4>80% CSS3 ANIMATION</h4>
                   <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60"
                       aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                       <span class="sr-only">60% Complete</span>
                    </div>
                  </div><!-- col-md-6 -->
                </div>
                <div class="col-md-6">
                   <h4>80% PAGESPEED INSIGHTS</h4>
                   <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60"
                       aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                       <span class="sr-only">60% Complete</span>
                    </div>
                  </div><!-- col-md-6 -->
                </div>
                <div class="col-md-6">
                   <h4>80% SEO</h4>
                   <div class="progress">
                     <div class="progress-bar" role="progressbar" aria-valuenow="60"
                       aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                       <span class="sr-only">60% Complete</span>
                    </div>
                  </div><!-- col-md-6 -->
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
